body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('fondovidiojuego.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    color: #fff; 
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ff9900; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff; 
}

button {
    padding: 10px 15px;
    background-color: #ff6600; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc5200; 
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00ff00; 
}


